.srp {
    background-color: black !important;
}

body {
    background-color: black !important;
    color: white !important;
}

.ZINbbc {
    background-color: #222222 !important;
}

a, .w, a.feGi6e {
    color: #81D4FA !important;
}

.qzEoUe {
    color: #4DB6AC !important;
}

.fbar {
    background: black !important;
}

.b0KoTc {
    color: white !important;
}

.card:not(:empty), .mnr-c:not(:empty) {
    background-color: #222222 !important;
}
.jTw2d {
    background-color: #222222 !important;
}

/* horizontal cards bg */
g-inner-card {
    background-color: #303030 !important;
}
