<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        SPK SPLIT BUG

        There is an issue with apk splitting resulting in addition
        of three permissions.

        Bug Tracker
        https://code.google.com/p/android/issues/detail?id=197928

        For the moment, the solution is to remove those permissions manually.
    -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

</manifest>